name: C/C++ CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: g++ openfile.cpp changecase.cpp -o changecase
    - name: Test
      run: |
           chmod u+x test.sh
           ./test.sh
